{% load static %}

<html>
    <head>
        <title>Skating Area</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to Skating Area</h1>
            <p>Anna Nagar Tower Park, officially known as Dr Visvesvaraya Tower Park, is an urban park in the suburb of Anna Nagar, Chennai. It is the tallest park tower in Chennai. The tower has been closed for the public. However, the park is still open.Anna Nagar Tower Park, officially known as Dr Visvesvaraya Tower Park, is an urban park in the suburb of Anna Nagar, Chennai. It is the tallest park tower in Chennai. The tower has been closed for the public. However, the park is still open.</p>
        </div>
        </body>
</html>


